%h1 Listing faculties

%table
  %thead
    %tr
      %th Title
      %th id
      %th
      %th
      %th

  %tbody
    - @faculties.each do |faculty|
      %tr
        %td= faculty.title
        %td= faculty.id

%br

